In [ ]:
#1. Find how many records this data frame has;
#2. How many elements are there?
#3. What are the column names?
#4. What types of columns do we have in this data frame?
#5. Give the summary for the numeric columns in the dataset
#6. Calculate standard deviation for all numeric columns;
#7. What are the mean values of the first 50 records in the dataset? Hint:
#use head() method to subset the first 50 records and then calculate the mean

In [1]:
import pandas as pd

In [2]:
import piplite
await piplite.install('openpyxl')

In [4]:
df=pd.read_excel('GoodBelly-DataSet.xlsx','Real Data')

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1386 non-null   datetime64[ns]
 1   Region                1243 non-null   object
 2   Store                 1386 non-null   object
 3   Units Sold            1386 non-null   float64
 4   Average Retail Price  1386 non-null   float64
 5   Sales Rep             1386 non-null   int64
 6   Endcap                1386 non-null   int64
 7   Demo                  1386 non-null   int64
 8   Demo1-3               1386 non-null   int64
 9   Demo4-5               1386 non-null   int64
 10  Natural               1386 non-null   int64
 11  Fitness               1386 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(2)
memory usage: 119.2+ KB
None

In [8]:
df.size

16632

In [11]:
print(df.columns)

Index(['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price',
       'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural',
       'Fitness'],
      dtype='object')

In [13]:
print(df.dtypes)

Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                        int64
Endcap                           int64
Demo                             int64
Demo1-3                          int64
Demo4-5                          int64
Natural                          int64
Fitness                          int64
dtype: object

In [15]:
std_Dev=df.std(numeric_only=True)
print(std_Dev)

Units Sold              110.998731
Average Retail Price      0.463828
Sales Rep                 0.497695
Endcap                    0.191843
Demo                      0.234661
Demo1-3                   0.363522
Demo4-5                   0.264705
Natural                   0.975092
Fitness                   1.592789
dtype: float64

In [18]:
mean=df.head(50).mean(numeric_only=True).round(2)
print(mean)

Units Sold              186.28
Average Retail Price      4.13
Sales Rep                 0.00
Endcap                    0.10
Demo                      0.00
Demo1-3                   0.00
Demo4-5                   0.04
Natural                   1.30
Fitness                   1.56
dtype: float64